body {
    background-color: #7772ff;
}

.container {
    background-color: #eaeaea;
    width: 40%;
    padding: 5%;
    margin: 11% 11% 0 25%;
}

.content {
    text-align: center;
}

.content p {
    font-size: 2em;
}

.content a {
    text-decoration: none;
    font-size: 1.6em;
}

.content a:hover {
    color: #7772ff;
}