/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1c1a19;
}

.project-border {
  border: 1px solid #fff;
  border-radius: 10px;
}

.project-border-1 {
  border: 1px solid #fff;
  border-radius: 10px;
}

.b-radius {
  border-radius: 10px;
}

.b-border {
  border: 1px solid #ff6b00;
}

hr {
  height: 10px;
}

.logo {
  transition: transform 2s ease-out;
}

.logo:hover {
  transform: scale(1.2);
}

.fa-envelope {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
