@media screen and (max-width: 1280px) {
  .portfolio {
    width: 100%;
  }

  .about {
    position: relative;
    top: 200px;
  }

  .cards {
    /* border: 4px solid red; */
    min-width: 100%;
  }

  .intro-p {
    width: 90%;
  }

  .btn-links {
    display: flex !important;
  }

  .img-decorator,
  .img-decorator-1 {
    opacity: 0.1;
  }

  .img-decorator {
    right: -40px;
  }

  .myy {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .img-port {
    width: 100%;
    height: 100%;
  }

  .tools-techs {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }

  .tech {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .hr-line {
    width: 200px;
  }

  /* .social {
    left: 0;
  } */

  .get-in-touch {
    left: 300px !important;
  }

  /* .footer {
    left: 20px;
  } */
}

@media screen and (max-width: 768px) {
  h1 {
    line-height: 36px;
  }

  .portfolio {
    width: 100%;
  }

  .about-me-home {
    width: 100%;
    padding: 0;
  }

  .contact {
    top: 100px;
    font-size: 20px;
    left: 40px !important;
  }

  .cards {
    /* border: 4px solid red; */
    min-width: 100%;
  }

  .intro-p {
    width: 90%;
  }

  .btn-links {
    display: flex;
  }

  .img-decorator,
  .img-decorator-1 {
    opacity: 0.1;
  }

  .img-decorator {
    left: -1px;
  }

  .myy {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100px;
    text-align: center;
  }

  .myp {
    width: 130px;
    text-align: center;
  }

  .img-port {
    width: 100%;
    height: 100%;
  }

  .tools-techs {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
  }

  .tech {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .hr-line {
    width: 100px;
  }

  .social {
    left: 0;
  }

  .get-in-touch {
    width: 70%;
    margin: auto;
  }

  .get-in-touch-text {
    font-size: 16px;
    border: 1px solid red;
  }

  .btn-send-message,
  .social,
  .get-in-touch,
  .footer-cont {
    left: 40px !important;
  }

  .action-btn {
    gap: 10px !important;
    width: 100%;
  }

  .action-btn-2 {
    width: 300px;
  }

  .action-btn-1 {
    width: 300px;
  }

  .project-container {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 414px) {
  .portfolio {
    width: 100%;
  }

  .cards {
    /* border: 4px solid red; */
    min-width: 100%;
  }

  .intro-p {
    width: 90%;
  }

  .img-decorator,
  .img-decorator-1 {
    opacity: 0.1;
  }

  .img-decorator {
    left: -1px;
  }

  .btn-links {
    display: block;
  }

  .myy {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .img-port {
    width: 100%;
    height: 100%;
  }

  .tech {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .hr-line {
    display: none;
  }

  .social,
  .get-in-touch,
  .btn-send-message {
    left: 0;
  }

  .footer {
    font-size: 14px;
    width: 100%;
  }
}

@media screen and (max-width: 280px) {
  .contact {
    top: 100px;
    font-size: 16px;
    left: 10px !important;
  }

  .about {
    left: 0 !important;
  }

  .about h1 {
    width: 100%;
    font-size: 32px;
  }

  .about-btn {
    gap: 10px !important;
  }

  .social {
    font-size: 8px !important;
    left: 0 !important;
    width: 100px;
  }

  .btn-send-message a {
    font-size: 16px !important;
    left: 100px !important;
  }
}
