@media screen and (min-width: 769px) and (max-width: 1px) {
  .header {
    width: 100%;
  }

  .nav-elems {
    gap: 300px;
  }

  .ul-elems {
    position: relative;
    left: 0;
    gap: 20px;
  }

  .btn-get-resume {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-header {
    max-width: 30%;
  }

  .ul-container {
    width: 100%;
    display: block;
    position: absolute;
    top: 65px;
    z-index: 1000;
    min-height: 100vh;
  }
}

@media screen and (max-width: 280px) {
  .logo {
    font-size: 16px;
  }

  .ul-items {
    margin-right: 0 !important;
    max-width: 100%;
  }

  .menuBar {
    position: relative;
    right: 0;
    left: 240px;
  }

  .footer {
    display: none;
  }
}
